@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300;
  line-height: 1.7;
  color: #2b2e38;
  background-color: #ffffff;
  position: relative;
  background-image: url("https://img.freepik.com/vecteurs-premium/motif-ondes-geometriques-japonaises-sans-couture-rose-blanc-seigaihamon_713536-788.jpg");
}
